<div class="section-mobile" style="background: #181a12;">
  <section id="banner">

    <div class="row justify-content-lg-start">
      <a href="#">
        <img class="logo" src="../../assets/LOGO/โลโก้พี่หญิงสีขาว 231x160 2.png" alt="">
      </a>
    </div>

    <div class="banner-text">
      <h1>" flowers create feeling "</h1>
      <br>
      <p>บริการรับจัดดอกไม้<br>สำหรับโอกาสพิเศษต่าง ๆ</p>
      <br>
      <h2 class="fw-bold fs-1">Yingyai Flower</h2>
      <span>
        เราส่งรอยยิ้มกันให้ถึงที่<br>
        สั่งง่าย ส่งไว
      </span>
    </div>
    <div class="scrolldown mt-5">
      <a href="#about-US" class="scroll-down" address="true"></a>
    </div>
  </section>

  <!-- about us -->
  <section id="about-us">
    <div class="row ab" style="margin: 0 0 0 0;">
      <div class="col-12 d-flex align-self-center justify-content-center pe-0 mt-5">
        <div class="title-text justify-content-center">
          <p>HELLO THERE</p>
          <h1>About us</h1>
        </div>
      </div>
      <div class="col-12 ab2">
        <div class="col-12 mt-4 mb-4 text-white title-detail ">
          <p>"เราขับเคลื่อน ความรักของผู้คนผ่านดอกไม้"<br>
            จากวงการโลจิสติกส์ ผันสู่ธุรกิจดอกไม้<br>
            บนเส้นทางยาวนานกว่า 8 ปี มีความแตกต่าง<br>
            ในรูปแบบของธุรกิจแต่ยังคงชัดเจน<br>เรื่องความแน่วแน่ และ
            การลงมือทำด้วยหัวใจที่จริงจัง
          </p>
          <p>
            ร้านของเรา ตั้งอยู่บนถนนมหิดล ทางไป<br>เซ็นทรัล แอร์พอร์ต ก่อนถึง ริมปิงซุปเปอร์มาร์เก็ต<br>
            พนักงานของเรา สามารถให้บริการ<br>และคำแนะนำต่างๆ เกี่ยวกับดอกไม้ให้คุณได้<br>
            ทั้งภาษาไทยและภาษาอังกฤษ
          </p>
          <p>
            You will open the door... <br>when you feel fall in love someone
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0 0 0 0;">
      <div class="col-12" style="padding: 0 0 0 0;">
        <img src="../../assets/product/about-main.png" class="w-100 shadow-1-strong img-m-filter"
          alt="Boat on Calm Water" />
      </div>
    </div>
  </section>
  <!-- about us -->

  <!-- ----------------------------------------------------------------------------------- -->

  <!-- product START -->
  <section id="product">
    <div class="title-text">
      <p>Shop by Category</p>
      <h1>OUR PRODUCTS</h1>
    </div>

    <style>
      /* Main CSS */
      .grid-wrapper>div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .grid-wrapper>div>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .grid-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 200px;
        grid-auto-flow: dense;
      }

      .grid-wrapper .wide {
        grid-column: span 2;
      }

      .grid-wrapper .tall {
        grid-row: span 2;
      }

      .grid-wrapper .big {
        grid-column: span 2;
        grid-row: span 2;
      }

    </style>
    <div class="container overflow-hidden">
      <div class="row h-img-mobile1">
        <div class="col-lg-6 w-50" style="margin: 0 0 0 0; padding: 0 0 0 0; height: 100%;">
          <a href="/gifts-set">
            <img src="../../assets/product/mobile/giftset-m.png" class="h-100 w-100 shadow-1-strong "
              alt="Boat on Calm Water" />
          </a>
        </div>
        <div class="col-lg-6 w-50" style="margin: 0 0 0 0; padding: 0 0 0 0;">
          <div class="row " style="margin: 0 0 0 0; padding: 0 0 0 0; height: 50%;">
            <div class="col-lg-12 w-100 ps-0 pe-0">
              <a href="/fresh-flowers">
                <img src="../../assets/product/mobile/fresh-wreath-m.png" class="h-100 w-100 shadow-1-strong "
                  alt="Boat on Calm Water" />
              </a>
            </div>
          </div>
          <div class="row " style="margin: 0 0 0 0; padding: 0 0 0 0; height: 50%;">
            <div class="col-lg-12 w-100  ps-0 pe-0">
              <a href="/wreath">
                <img src="../../assets/product/mobile/wreath-m.png" class="h-100 w-100 shadow-1-strong "
                  alt="Boat on Calm Water" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row h-img-mobile2">
        <div class="col-lg-12 img-fluid" style="margin: 0 0 0 0; padding: 0 0 0 0;">
          <img src="../../assets/product/mobile/event-m.png" class="w-100 h-100 shadow-1-strong img-fluid "
            alt="Boat on Calm Water" />
        </div>
      </div>
      <div class="row h-img-mobile3">
        <div class="col-lg-6 w-50 row-w-div-long">
          <img src="../../assets/product/mobile/balloon-m.png" class="w-100 shadow-1-strong "
            alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-6 w-50 row-w-div-long">
          <img src="../../assets/product/mobile/af-m.png" class="w-100 shadow-1-strong " alt="Boat on Calm Water" />
        </div>
      </div>
    </div>

    <!-- <div class="container overflow-hidden py-6">
        <div class="row w-100" style="margin: 0 0 0 0; height: 900px; padding: 0 0 0 0;">
          <div class="col-lg-6 col-md-6 col-sm-6 mb-4 mb-lg-0 ps-0 pe-2" style="height: 900px;">
            <div class="hover08 column">
              <div>
                <figure>
                  <a href="/gifts-set">
                    <img src="../../assets/product/giftset.png" class="w-100 shadow-1-strong  mb-4"
                      alt="Boat on Calm Water" height="880" />
                  </a>
                </figure>
              </div>
            </div>

            <div class="position-img-tall text-center  text-white">
              <h3>
                Gifts Set
              </h3>
              <p>
                ชุดของขวัญ
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 mb-4 mb-lg-0 ps-2 pe-0" style="height: 900px;">
            <div class="hover08 column">
              <div>
                <figure>
                  <a href="/fresh-flowers">
                    <img src="../../assets/product/fresh.png" class="w-100 shadow-1-strong "
                      alt="Mountains in the Clouds" height="430" />
                  </a>
                </figure>
              </div>
            </div>


            <div class="hover08 column">
              <div>
                <figure>
                  <a href="/wreath">
                    <img src="../../assets/product/wreath.png" class="w-100 shadow-1-strong  mb-4"
                      alt="Boat on Calm Water" height="430" />
                  </a>
                </figure>
              </div>
            </div>

            <div class="position-img-small1 text-center  text-white">
              <h3>
                Fresh Flowers
              </h3>
              <p>
                ดอกไม้สด
              </p>
            </div>
            <div class="position-img-small2 text-center  text-white">
              <h3>
                Wreath
              </h3>
              <p>
                ดอกไม้งานขาวดำ
              </p>
            </div>
          </div>
        </div>
      </div> -->
  </section>

  <!-- product END -->

  <!-- ----------------------------------------------------------------------------------- -->

  <!-- gallery START -->
  <section id="Recent-WorkS" style="background: #FFF;">
    <div class="footer-bannerlogo" style="background: #181a12;">
      <div class="title-text-work">
        <h1>
          We don't sell flowers<br>
          We sell happiness
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex justify-content-center" style="margin: 0 0 0 0;">
        <div class="col-lg-12 col-md-12 mb-lg-0" style="padding: 0 0 0 0;">
          <img src="../../assets/product/recent-m.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />
        </div>
      </div>
    </div>
  </section>
  <!-- gallery END -->
</div>

<!-- ----------------------------------------------------------------------------------- -->


<div class="section-pc" style="background: #181a12;">
  <section id="banner">

    <div class="social-media">
      <a href="https://www.facebook.com/yingyaiflower" target="_blank"><img src="./assets/icon/f.png" alt=""></a>
      <a href="tel:094-552-8532" target="_blank"><img src="./assets/icon/callwhite.png" alt=""></a>
      <a href="https://instagram.com/yingyaiflower?igshid=YzA2ZDJiZGQ=" target="_blank"><img src="./assets/icon/ig.png"
          alt=""></a>
      <a href="https://lin.ee/RfKmZEH" target="_blank"><img src="./assets/icon/linewhite.png" alt=""></a>
    </div>

    <a href="#">
      <img class="logo" src="../../assets/LOGO/โลโก้พี่หญิงสีขาว 231x160 2.png" alt="">
    </a>

    <div class="banner-text">
      <h1>" flowers create feeling "</h1>
      <br>
      <p>บริการรับจัดดอกไม้สำหรับโอกาสพิเศษต่าง ๆ</p>
      <br>
      <span>Yingyai Flower...เราส่งรอยยิ้มกันให้ถึงที่ สั่งง่าย ส่งไว</span>
    </div>
    <div class="scrolldown mt-5">
      <a href="#about-us" class="scroll-down" address="true"></a>
    </div>
  </section>

  <!-- about us -->
  <section id="about-us" class="show-pc">
    <div class="row ab w-100">
      <div class="col-6  d-flex align-self-center justify-content-center">
        <img src="../../assets/product/about-main.png" class="w-100" alt="about-us">
      </div>
      <div class="col-6 ab2 d-flex align-self-center justify-content-center">
        <div class="col-12 mt-5 mb-5 text-white title-detail">
          <div class="title-text">
            <p>HELLO THERE</p>
            <h1>About us</h1>
          </div>
          <p>"เราขับเคลื่อน ความรักของผู้คนผ่านดอกไม้"<br>
            จากวงการโลจิสติกส์ ผันสู่ธุรกิจดอกไม้บนเส้นทางยาวนานกว่า 8 ปี <br>
            มีความแตกต่างในรูปแบบของธุรกิจแต่ยังคงชัดเจนเรื่องความแน่วแน่ และ <br>
            การลงมือทำด้วยหัวใจที่จริงจัง
          </p>
          <p>
            ร้านของเรา ตั้งอยู่บนถนนมหิดล ทางไปเซ็นทรัล แอร์พอร์ต ก่อนถึง ริมปิงซุปเปอร์มาร์เก็ต <br>
            พนักงานของเรา สามารถให้บริการและคำแนะนำต่างๆ เกี่ยวกับดอกไม้ให้คุณได้<br>
            ทั้งภาษาไทยและภาษาอังกฤษ
          </p>
          <p>
            You will open the door... when you feel fall in love someone
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="about-us" class="show-ipad">
    <div class="row ab" style="margin: 0 0 0 0;">
      <div class="col-12 d-flex align-self-center justify-content-center pe-0 mt-5">
        <div class="title-text justify-content-center">
          <p>HELLO THERE</p>
          <h1>About us</h1>
        </div>
      </div>
      <div class="col-12 ab2">
        <div class="col-12 mt-4 mb-4 text-white title-detail ">
          <p>"เราขับเคลื่อน ความรักของผู้คนผ่านดอกไม้"<br>
            จากวงการโลจิสติกส์ ผันสู่ธุรกิจดอกไม้<br>
            บนเส้นทางยาวนานกว่า 8 ปี มีความแตกต่าง<br>
            ในรูปแบบของธุรกิจแต่ยังคงชัดเจน<br>เรื่องความแน่วแน่ และ
            การลงมือทำด้วยหัวใจที่จริงจัง
          </p>
          <p>
            ร้านของเรา ตั้งอยู่บนถนนมหิดล ทางไป<br>เซ็นทรัล แอร์พอร์ต ก่อนถึง ริมปิงซุปเปอร์มาร์เก็ต<br>
            พนักงานของเรา สามารถให้บริการ<br>และคำแนะนำต่างๆ เกี่ยวกับดอกไม้ให้คุณได้<br>
            ทั้งภาษาไทยและภาษาอังกฤษ
          </p>
          <p>
            You will open the door... <br>when you feel fall in love someone
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0 0 0 0;">
      <div class="col-12" style="padding: 0 0 0 0;">
        <img src="../../assets/product/about-main.png" class="w-100 shadow-1-strong img-m-filter"
          alt="Boat on Calm Water" />
      </div>
    </div>
  </section>
  <!-- about us -->

  <!-- ----------------------------------------------------------------------------------- -->

  <!-- product START -->
  <section id="product">
    <div class="title-text">
      <p>Shop by Category</p>
      <h1>OUR PRODUCTS</h1>
    </div>


    <style>
      /* Main CSS */
      .grid-wrapper>div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .grid-wrapper>div>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .grid-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 200px;
        grid-auto-flow: dense;
      }

      .grid-wrapper .wide {
        grid-column: span 2;
      }

      .grid-wrapper .tall {
        grid-row: span 2;
      }

      .grid-wrapper .big {
        grid-column: span 2;
        grid-row: span 2;
      }

    </style>
    <div class="container show-pc">
      <div class="row" style="margin: 0 0 0 0;  padding: 0 0 0 0;">
        <div class="col-lg-6 col-md-6 col-sm-6 mb-lg-0 ps-0 pe-0 section-product1">
          <div class="hover08 column">
            <div>
              <figure class="mb-1">
                <a href="/gifts-set">
                  <!-- <img src="https://via.placeholder.com/690x800" class="w-100 shadow-1-strong"
                    alt="Boat on Calm Water"/> -->
                  <img src="../../assets/product/giftset1.png" class="w-100 shadow-1-strong  mb-4"
                    alt="Boat on Calm Water" />
                </a>
              </figure>
            </div>
          </div>

          <div class="position-img-tall text-center  text-white">
            <h3 class="fw-bold">
              Gifts Set
            </h3>
            <p>
              ชุดของขวัญ
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 mb-lg-0 ps-1 pe-0 section-product1">
          <div class="hover08 column">
            <div>
              <figure class="mb-1">
                <a href="/fresh-flowers">
                  <!-- <img src="../../assets/product/center2-2.png" class="w-100 shadow-1-strong "
                    alt="Mountains in the Clouds" /> -->
                  <img src="../../assets/product/fresh1.png" class="w-100 shadow-1-strong "
                    alt="Mountains in the Clouds" />
                </a>
              </figure>
            </div>
          </div>

          <div class="hover08 column">
            <div>
              <figure class="mb-1">
                <a href="/wreath">
                  <!-- <img src="../../assets/product/center2-2.png" class="w-100 shadow-1-strong  mb-0"
                    alt="Boat on Calm Water" /> -->
                  <img src="../../assets/product/wreath.png" class="w-100 shadow-1-strong  mb-4"
                    alt="Boat on Calm Water" />
                </a>
              </figure>
            </div>
          </div>

          <div class="position-img-small1 text-center  text-white">
            <h3 class="fw-bold">
              Fresh Flowers
            </h3>
            <p>
              ดอกไม้สด
            </p>
          </div>
          <div class="position-img-small2 text-center  text-white">
            <h3 class="fw-bold">
              Wreath
            </h3>
            <p>
              ดอกไม้งานขาวดำ
            </p>
          </div>
        </div>
      </div>

      <div class="row w-100" style="margin: 0 0 0 0; padding: 0 0 0 0;">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-lg-0 ps-0 pe-0 section-product2">
          <div class="hover08 column">
            <div>
              <figure class="mb-1">
                <a href="/event">
                  <!-- <img src="../../assets/product/banner-main-cener.png" class="w-100 shadow-1-strong img-fluid"
                    alt="Boat on Calm Water" /> -->
                  <img src="../../assets/product/event1.png" class="w-100 shadow-1-strong img-fluid"
                    alt="Boat on Calm Water" />
                </a>
              </figure>
            </div>
          </div>

          <div class="position-img-long text-center  text-white">
            <h3 class="fw-bold">
              Event
            </h3>
            <p>
              อีเว้นท์วันสำคัญ
            </p>
          </div>
        </div>
      </div>

      <div class="row w-100" style="margin: 0 0 0 0; padding: 0 0 0 0;">
        <div class="col-lg-6 col-md-6 mb-lg-0 ps-0 pe-1 section-product3">
          <div class="hover08 column">
            <div>
              <figure class="mb-1">
                <a href="/balloon">
                  <img src="../../assets/product/artificial-2.png" class="w-100 shadow-1-strong"
                    alt="Boat on Calm Water" />
                  <!-- <img src="../../assets/product/center2.png" class="w-100 shadow-1-strong"
                    alt="Boat on Calm Water" /> -->
                </a>
              </figure>
            </div>
          </div>

          <div class="position-img-small3 text-center  text-white">
            <h3 class="fw-bold">
              Balloon
            </h3>
            <p>
              ลูกโป่ง
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-lg-0 ps-1 pe-0 section-product3">
          <div class="hover08 column">
            <div>
              <figure class="mb-1">
                <a href="/artificial-flowers">
                  <!-- <img src="../../assets/product/center2.png" class="w-100 shadow-1-strong "
                    alt="Boat on Calm Water" /> -->
                  <img src="../../assets/product/artificial1.png" class="w-100 shadow-1-strong "
                    alt="Boat on Calm Water" />
                </a>
              </figure>
            </div>
          </div>

          <div class="position-img-small4 text-center  text-white">
            <h3 class="fw-bold">
              Artificial Flowers
            </h3>
            <p>
              ดอกไม้ประดิษฐ์
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container show-ipad">
      <div class="container overflow-hidden">
        <div class="row h-img-mobile1">
          <div class="col-lg-6 w-50" style="margin: 0 0 0 0; padding: 0 0 0 0; height: 100%;">
            <a href="/gifts-set">
              <img src="../../assets/product/mobile/giftset-m.png" class="h-100 w-100 shadow-1-strong "
                alt="Boat on Calm Water" />
            </a>
          </div>
          <div class="col-lg-6 w-50" style="margin: 0 0 0 0; padding: 0 0 0 0;">
            <div class="row " style="margin: 0 0 0 0; padding: 0 0 0 0; height: 50%;">
              <div class="col-lg-12 w-100 ps-0 pe-0">
                <a href="/fresh-flowers">
                  <img src="../../assets/product/mobile/fresh-wreath-m.png" class="h-100 w-100 shadow-1-strong "
                    alt="Boat on Calm Water" />
                </a>
              </div>
            </div>
            <div class="row " style="margin: 0 0 0 0; padding: 0 0 0 0; height: 50%;">
              <div class="col-lg-12 w-100  ps-0 pe-0">
                <a href="/wreath">
                  <img src="../../assets/product/mobile/wreath-m.png" class="h-100 w-100 shadow-1-strong "
                    alt="Boat on Calm Water" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row h-img-mobile2">
          <div class="col-lg-12 img-fluid" style="margin: 0 0 0 0; padding: 0 0 0 0;">
            <img src="../../assets/product/mobile/event-m.png" class="w-100 h-100 shadow-1-strong img-fluid "
              alt="Boat on Calm Water" />
          </div>
        </div>
        <div class="row h-img-mobile3">
          <div class="col-lg-6 w-50 row-w-div-long">
            <img src="../../assets/product/mobile/balloon-m.png" class="w-100 shadow-1-strong "
              alt="Boat on Calm Water" />
          </div>
          <div class="col-lg-6 w-50 row-w-div-long">
            <img src="../../assets/product/mobile/af-m.png" class="w-100 shadow-1-strong " alt="Boat on Calm Water" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- product END -->

  <!-- ----------------------------------------------------------------------------------- -->

  <!-- gallery START -->
  <section id="Recent-Works" style="background: #FFF;">
    <div class="footer-bannerlogo" style="background: #181a12;">
      <div class="title-text">
        <h1>
          We don't sell flowers<br>
          We sell happiness
        </h1>
      </div>
    </div>
    <!-- <div class="container" >
      <div class="row d-flex justify-content-center" style="margin: 0 0 0 0;">
        <div class="col-lg-6 col-md-12 mb-lg-0" style="padding: 0 0 0 0; width: 50%;">
          <img src="../../assets/product/RECENT-WORKS2-new.png" class="w-100 shadow-1-strong"
            alt="Boat on Calm Water" />

        </div>
        <div class="col-lg-6 col-md-12 mb-lg-0" style="padding: 0 0 0 0; width: 50%;">
          <img src="../../assets/product/RECENT-WORKS1-new.png" class="w-100 shadow-1-strong"
            alt="Boat on Calm Water" />

        </div>
      </div>
    </div> -->
    <div class="container" >
      <div class="row d-flex justify-content-center" style="margin: 0 0 0 0;">
        <div class="col-lg-12 col-md-12 mb-lg-0" style="padding: 0 0 0 0;">
          <img src="../../assets/product/recent-m.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />
        </div>
      </div>
    </div>
  </section>
  <!-- gallery END -->

  <!-- ----------------------------------------------------------------------------------- -->
</div>
