<div id="gallery" class="footer-bannerlogo" style="background: #181a12;">
  <div class="title-text">
    <p>RECENT WORKS</p>
    <h1>We love what we do, check out <br> some of our latest works</h1>
  </div>
</div>
<!-- Gallery -->
<div class="container">
  <div class="row d-flex justify-content-center" style="margin: 0 0 0 0;">
    <div class="col-lg-6 col-md-12 mb-lg-0" style="padding: 0 0 0 0; width: 480px;">
      <img src="https://via.placeholder.com/480x480" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />

      <img src="https://via.placeholder.com/480x480" class="w-100 shadow-1-strong" alt="Wintry Mountain Landscape" />

      <img src="https://via.placeholder.com/480x480" class="w-100 shadow-1-strong" alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-6 col-md-12 mb-lg-0" style="padding: 0 0 0 0; width: 480px;">
      <img src="https://via.placeholder.com/480x700" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />

      <img src="https://via.placeholder.com/480x330" class="w-100 shadow-1-strong" alt="Wintry Mountain Landscape" />

      <img src="https://via.placeholder.com/480x410" class="w-100 shadow-1-strong" alt="Wintry Mountain Landscape" />

    </div>
  </div>
</div>


<!-- Gallery -->
<!-- <div class="container">
  <div class="col-12" style="display: flex;">
    <div class="col-6 gl1">
      <div class="col-4">
        <img class="img g1"
          src="https://foodieee.my.canva.site/beige-and-dark-brown-curated-editorial-general-photography-photography-website/images/fb38e3e0dd7249a59199400e0ad0cc0a.jpg"
          alt="">
      </div>
      <div class="col-4">
        <img class="img g1"
          src="https://foodieee.my.canva.site/beige-and-dark-brown-curated-editorial-general-photography-photography-website/images/33cb8b7b0243dc1857f35adc4912bd45.jpg"
          alt="">
      </div>
      <div class="col-4">
        <img class="img g1"
          src="https://foodieee.my.canva.site/beige-and-dark-brown-curated-editorial-general-photography-photography-website/images/63d6e45a3ce32eaa1b92e2241bc74473.jpg"
          alt="">
      </div>
    </div>
    <div class="col-6 gl2">
      <div class="col-4">
        <img class="img g2"
          src="https://foodieee.my.canva.site/beige-and-dark-brown-curated-editorial-general-photography-photography-website/images/9be1a9e04a77ea951e102e16f53b45f1.jpg"
          alt="">
      </div>
      <div class="col-4">
        <img class="img g2"
          src="https://foodieee.my.canva.site/beige-and-dark-brown-curated-editorial-general-photography-photography-website/images/3116e98a08208ba12253056b536cc62a.jpg"
          alt="">
      </div>
      <div class="col-4">
        <img class="img g2"
          src="https://foodieee.my.canva.site/beige-and-dark-brown-curated-editorial-general-photography-photography-website/images/d2fb9224e5c57f45d08eb303a5318849.jpg"
          alt="">
      </div>
    </div>
  </div>
</div> -->
