<section id="banner">
    <a href="#">
    <img class="logo" src="../../assets/LOGO/โลโก้พี่หญิงสีขาว 231x160 2.png" alt="">
  </a>
  <div class="banner-text">
    <h1>YingYais flower</h1>
    <p>Goodlove Goodflower Goodlife</p>
    <div class="banner-btn">
      <a href=""><span></span> Find Out</a>
      <a href=""><span></span> Read More</a>
    </div>
  </div>
</section>

<div id="sidenav">
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</div>
<div class="text-menu text-white">MENU</div>
<div id="menubtn">
  <img src="../../assets/LOGO/โลโก้พี่หญิงสีขาว 231x160 2.png" id="menu" alt="">
</div>
