<div *ngIf="isMobile || isTablet">
  <div class="footer-bannerlogo">
    <img src="../../assets/LOGO/โลโก้พี่หญิงสีขาว 231x160 2.png" class="w-25" alt="logo">
  </div>

  <section id="footer" style="background: #1C442C;">
    <div class="container" style="background: #1C442C; width: 100%;">
      <div class="row col-12 t1">
        <h2>Company</h2>
        <p>
          <a href="#about-US">
            About us
          </a>
        </p>
        <p>
          <a href="#Recent-WorkS">
            Recent Works
          </a>
        </p>
      </div>
      <div class="row col-12 t1">
        <h2>Products</h2>
        <p>
          <a href="/fresh-flowers">Fresh Flowers</a>
        </p>
        <p>
          <a href="/artificial-flowers">Artificial Flowers</a>
        </p>
        <p>
          <a href="/wreath">Wreath black and White</a>
        </p>
        <p>
          <a href="/gifts-set">Gifts Set</a>
        </p>
        <p>
          <a href="/balloon">Balloon</a>
        </p>
        <p>
          <a href="/event">Event</a>
        </p>
      </div>
      <div class="row col-12 t1">
        <h2>Business Hours</h2>
        <p>
          Monday - Satuday<br>
          09.00 AM - 06.00 PM<br>
          Sunday only preorder<br>
          Phone: 094-5528532
        </p>
      </div>
      <div class="row col-12 t1">
        <h2>Address</h2>
        <p>
          67 Mahidol Rd,<br>
          Tambon Hai Ya,<br>
          Chiang Mai District,<br>
          Chiang Mai  50100
        </p>
      </div>
      <div class="social-link">
        <a href="https://www.facebook.com/yingyaiflower" target="_blank">
          <i class="fa fa-brands fa-facebook"></i>
        </a>
        <a href="https://instagram.com/yingyaiflower?igshid=YzA2ZDJiZGQ=" target="_blank">
          <i class="fa fa-brands fa-instagram "></i>
        </a>
        <a href="tel:094-552-8532" target="_blank">
          <i class="fa fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://lin.ee/RfKmZEH" target="_blank">
          <i class="fa fa-brands fa-line"></i>
        </a>
      </div>
    </div>
  </section>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe width="100%" height="450" id="gmap_canvas"
        src="https://maps.google.com/maps?q=%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%94%E0%B8%AD%E0%B8%81%E0%B9%84%E0%B8%A1%E0%B9%89%20YingYai%20Flower&t=&z=15&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
      <a href="https://putlocker-is.org"></a><br>
      <style>
        .mapouter {
          position: relative;
          text-align: right;
          height: 450px;
          width: 100%;
        }

      </style><a href="https://www.embedgooglemap.net">add map to website</a>
      <style>
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 450px;
          width: 100%;
        }

      </style>
    </div>
  </div>
  <div class="copyright">
    <h1>COPY RIGHT BY THERABBITTECH</h1>
  </div>
</div>

<div *ngIf="isDesktopDevice">
  <div class="footer-bannerlogo">
    <img src="../../assets/LOGO/โลโก้พี่หญิงสีขาว 231x160 2.png" class="mt-4 mb-4" alt="logo">
  </div>
  <section id="footer" style="background: #1C442C;">
    <div class="container" style="background: #1C442C;width: 100%;">
      <div class="col-12 d1">
        <div class="col-3 t1">
          <h2>Company</h2>
          <p>
            <a href="#about-us">
              About us
            </a>
          </p>
          <p>
            <a href="#Recent-Works">
              Recent Works
            </a>
          </p>
        </div>
        <div class="col-3 t1">
          <h2>Products</h2>
          <p>
            <a href="/fresh-flowers">Fresh Flowers</a>
          </p>
          <p>
            <a href="/artificial-flowers">Artificial Flowers</a>
          </p>
          <p>
            <a href="/wreath">Wreath black and White</a>
          </p>
          <p>
            <a href="/gifts-set">Gifts Set</a>
          </p>
          <p>
            <a href="/balloon">Balloon</a>
          </p>
          <p>
            <a href="/event">Event</a>
          </p>
        </div>
        <div class="col-3 t1">
          <h2>Business Hours</h2>
          <p>
            Monday - Satuday<br>
            09.00 AM - 06.00 PM<br>
            Sunday only preorder<br>
            Phone: 094-5528532
          </p>
        </div>
        <div class="col-3 t1">
          <h2>Address</h2>
          <p>
            67 Mahidol Rd,<br>
            Tambon Hai Ya,<br>
            Chiang Mai District,<br>
            Chiang Mai  50100
          </p>
        </div>
      </div>
      <div class="social-link">
        <a href="https://www.facebook.com/yingyaiflower" target="_blank">
          <i class="fa fa-brands fa-facebook"></i>
        </a>
        <a href="https://instagram.com/yingyaiflower?igshid=YzA2ZDJiZGQ=" target="_blank">
          <i class="fa fa-brands fa-instagram "></i>
        </a>
        <a href="tel:094-552-8532" target="_blank">
          <i class="fa fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://lin.ee/RfKmZEH" target="_blank">
          <i class="fa fa-brands fa-line"></i>
        </a>
      </div>
    </div>



  </section>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe width="100%" height="450" id="gmap_canvas"
        src="https://maps.google.com/maps?q=%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%94%E0%B8%AD%E0%B8%81%E0%B9%84%E0%B8%A1%E0%B9%89%20YingYai%20Flower&t=&z=15&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
      <a href="https://putlocker-is.org"></a><br>
      <style>
        .mapouter {
          position: relative;
          text-align: right;
          height: 450px;
          width: 100%;
        }

      </style><a href="https://www.embedgooglemap.net">add map to website</a>
      <style>
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 450px;
          width: 100%;
        }

      </style>
    </div>
  </div>
  <div class="copyright">
    <h1>COPY RIGHT BY THERABBITTECH</h1>
  </div>

</div>
