<section id="bg-section">

  <div class="section-pc">
    <div class="social-media">
      <a href="https://www.facebook.com/yingyaiflower" target="_blank"><img src="./assets/icon/f.png" alt=""></a>
      <a href="tel:094-552-8532" target="_blank"><img src="./assets/icon/callwhite.png" alt=""></a>
      <a href="https://instagram.com/yingyaiflower?igshid=YzA2ZDJiZGQ=" target="_blank"><img src="./assets/icon/ig.png"
          alt=""></a>
      <a href="https://lin.ee/RfKmZEH" target="_blank"><img src="./assets/icon/linewhite.png" alt=""></a>
    </div>
  </div>

  <a href="#">
    <img class="logo" src="../../assets/LOGO/โลโก้พี่หญิงสีขาว 231x160 2.png" alt="">
  </a>

  <div class="banner-text fw-bold fs-1">
    <h1 class="fw-bold">Artificial Flowers</h1>
    <p class="fw-bold">ดอกไม้ประดิษฐ์</p>
  </div>
  <div class="section-pc">
    <div class="row justify-content-center mb-5">
      <div class="col-3 d-flex justify-content-center">
        <div style="max-width: 18rem;">
          <div class="text-center text-white mt-3 mb-2 fw-bold fs-4">
            กล่องของขวัญ
          </div>
          <div>
            <img src="../../assets/af/title-1.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />
          </div>
        </div>
      </div>

      <div class="col-3 d-flex justify-content-center">
        <div style="max-width: 18rem;">
          <div class="text-center text-white mt-3 mb-2 fw-bold fs-4">
            แจกันดอกไม้
          </div>
          <div>
            <img src="../../assets/af/title-2.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />

          </div>
        </div>
      </div>

      <div class="col-3 d-flex justify-content-center">
        <div style="max-width: 18rem;">
          <div class="text-center text-white mt-3 mb-2 fw-bold fs-4">
            ช่อดอกไม้
          </div>
          <div>
            <img src="../../assets/af/title-3.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-mobile">
    <div class="row justify-content-center mb-5">
      <div class="col-5 d-flex justify-content-center">
        <div style="max-width: 18rem;">
          <div class="text-center text-white mt-3 mb-2">
            กล่องของขวัญ
          </div>
          <div>
            <img src="../../assets/af/title-1.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />
          </div>
        </div>
      </div>

      <div class="col-5 d-flex justify-content-center">
        <div style="max-width: 18rem;">
          <div class="text-center text-white mt-3 mb-2">
            แจกันดอกไม้
          </div>
          <div>
            <img src="../../assets/af/title-2.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />

          </div>
        </div>
      </div>

      <div class="col-5 d-flex justify-content-center  mt-3">
        <div style="max-width: 18rem;">
          <div class="text-center text-white mt-3 mb-2">
            ช่อดอกไม้
          </div>
          <div>
            <img src="../../assets/af/title-3.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-pc">
  <section class="bg-section-product mb-5">
    <div class="container mt-5">
      <h2 class="fw-bold fs-1">กล่องของขวัญ</h2>
      <div class="row mt-5">
        <div class="col-4">
          <img src="../../assets/af/af-box-show.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open1(0)" />
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-4">
              <img src="../../assets/af/af-box-show-sub1.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
                (click)="open1(1)" />
            </div>
            <div class="col-4">
              <img src="../../assets/af/af-box-show-sub2.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
                (click)="open1(2)" />
            </div>
            <div class="col-4">
              <img src="../../assets/af/af-box-show-sub3.png" class="w-100 shadow-1-strong img-final1"
                alt="Boat on Calm Water" (click)="open1(3)" />
              <p class="text-center text-final1">
                + {{data1.length}}
              </p>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-12 mt-5">
              <p class="text-end text-title-gallery">
                กล่องของขวัญดอกไม้ประดิษฐ์<br>
                เพื่อแสดงความยินดี หรือโอกาสสำคัญต่างๆ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-section-product mb-5">
    <div class="container mt-5">
      <h2 class="fw-bold fs-1">แจกันดอกไม้</h2>
      <div class="row mt-5">
        <div class="col-4">
          <img src="../../assets/af/af-vase-show.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open2(0)" />
          <div class="row justify-content-start">
            <div class="col-12 mt-5">
              <p class="text-start text-title-gallery">
                เพิ่มความสดใสให้คุณ และคนที่คุณรัก
              </p>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6">
              <img src="../../assets/af/af-vase-show-sub1.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
                (click)="open2(1)" />
            </div>
            <div class="col-6">
              <img src="./../assets/af/af-vase-show-sub2.png" class="w-100 shadow-1-strong img-final1"
                alt="Boat on Calm Water" (click)="open2(2)" />
              <p class="text-center text-final1">
                + {{data2.length}}
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="bg-section-product mb-5">
    <div class="container mt-5">
      <h2 class="fw-bold fs-1">ช่อดอกไม้</h2>
      <div class="row mt-5">
        <div class="col-9 align-self-end">
          <div class="row ">
            <div class="col-4 align-self-end">
              <img src="../../assets/af/af-panicle-show.png" width="300" height="540" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" (click)="open3(0)" />
            </div>
            <div class="col-4 align-self-end">
              <img src="../../assets/af/af-panicle-show-sub1.png" height="400" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" (click)="open3(1)" />
            </div>
            <div class="col-4 align-self-end">
              <img src="../../assets/af/af-panicle-show-sub2.png" height="400" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" (click)="open3(2)" />

            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <p class="text-center text-final-b">
                + {{data3.length}}
              </p>
              <img src="../../assets/af/af-panicle-show-sub3.png" class="w-100 shadow-1-strong img-final1"
                alt="Boat on Calm Water" (click)="open3(3)" />

            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-12 mt-5">
              <p class="text-end text-title-gallery">
                ช่อดอกไม้ประดิษฐ์<br>
                เพื่อแสดงความยินดี หรือโอกาสสำคัญต่างๆ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-mobile">
  <section class="bg-section-product mb-5">
    <div class="container mt-5">
      <h2 class="fw-bold fs-1">กล่องของขวัญ</h2>
      <div class="row mt-5">
        <div class="col-6">
          <img src="../../assets/af/af-box-show.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open1(0)" />
        </div>
        <div class="col-6">
          <img src="../../assets/af/af-box-show-sub2-m.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open1(1)" />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 mt-4">
          <p class="text-center text-title-gallery">
            กล่องของขวัญดอกไม้ประดิษฐ์<br>
            เพื่อแสดงความยินดี หรือโอกาสสำคัญต่างๆ
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <img src="../../assets/af/af-box-show-sub2.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open1(2)" />
        </div>
        <div class="col-6">
          <img src="../../assets/af/af-box-show-sub3.png" class="w-100 shadow-1-strong img-final1"
            alt="Boat on Calm Water" (click)="open1(3)" />
          <p class="text-center text-final1">
            + {{data1.length}}
          </p>
        </div>
      </div>

    </div>
  </section>

  <section class="bg-section-product mb-5">
    <div class="container mt-5">
      <h2 class="fw-bold fs-1">แจกันดอกไม้</h2>
      <div class="row mt-5">
        <div class="col-6">
          <img src="./../assets/af/af-vase-show-sub2.png" class="w-100 shadow-1-strong " alt="Boat on Calm Water"
            (click)="open2(2)" />
        </div>
        <div class="col-6">
          <img src="../../assets/af/af-vase-show-sub1.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open2(1)" />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 mt-3">
          <p class="text-center text-title-gallery">
            เพิ่มความสดใสให้คุณ และคนที่คุณรัก
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 mt-1">
          <img src="../../assets/af/af-vase-show.png" class="w-100 shadow-1-strong img-final1" alt="Boat on Calm Water"
            (click)="open2(0)" />
          <p class="text-center text-final1">
            + {{data2.length}}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-section-product mb-5">
    <div class="container mt-5">
      <h2 class="fw-bold fs-1">ช่อดอกไม้</h2>
      <div class="row mt-5">
        <div class="col-6 ">
          <img src="../../assets/af/af-panicle-show-sub1-m.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open3(0)" />
        </div>
        <div class="col-6">
          <img src="../../assets/af/af-panicle-show-sub2-m.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open3(1)" />
        </div>
      </div>
      <div class="row justify-content-center ">
        <div class="col-12 mt-3">
          <p class="text-center text-title-gallery">
            ช่อดอกไม้ประดิษฐ์<br>
            เพื่อแสดงความยินดี หรือโอกาสสำคัญต่างๆ
          </p>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-6">
          <img src="../../assets/af/af-panicle-show-sub3-m.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open3(2)" />
        </div>
        <div class="col-6">
          <img src="../../assets/af/af-panicle-show-sub3.png" class="w-100 shadow-1-strong img-final1"
            alt="Boat on Calm Water" (click)="open3(3)" />
          <p class="text-center text-final1">
            + {{data3.length}}
          </p>
        </div>
      </div>
    </div>

  </section>
</div>
