#bg-section{
  background-color: #181a12;
  background-size: cover;
  background-position: center;
  height: 55rem;
  overflow: hidden;
}

p.text-title-gallery{
  font-size: 0.8rem;
}


// --------------------------------------------------------
img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.text-gray {
  color: #393a3b;
}

.p-l-50 {
  padding-left: 50px;
}

.text-s-24 {
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  .com {
    display: none !important;
  }
}

@media only screen and (min-width: 991.98px) {
  .mobile {
    display: none !important;
  }
}

.a-center {
  text-align: center;
}

// img {
//   width: 100%; /* or max-width: 100%; */
//   height: auto;
// }

.thumb {
  max-height: 171px;
  border: solid 6px white;
}

.lightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 0;
  width: 0;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0);
  opacity: 0;


  .img-lightbox {
    max-width: 90%;
    max-height: 90%;
    opacity: 0;
  }

  &:target {
    outline: none;
    width: 100%;
    height: 100%;
    opacity: 1 !important;

    img {
      // border: solid 17px white;
      opacity: 1;
      webkit-transition: opacity 0.6s;
      transition: opacity 0.6s;
    }
  }
}

.light-btn {
  color: #fafafa;
  // background-color: #333;
  // border: solid 3px white;
  padding: 5px 15px;
  border-radius: 1px;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  z-index: 99;

  &:hover {
    background-color: #477d4b;
    border-radius: 50px;
  }
}

.btn-prev {
  left: 7%;
}

.btn-next {
  right: 7%;
}

.btn-close {
  position: absolute;
  right: 2%;
  top: 2%;
  color: #fafafa;
  // background-color: red;
  // border: solid 5px white;
  padding: 10px 15px;
  border-radius: 1px;
  text-decoration: none;

  &:hover {
    background-color: #740404;
  }
}


.text-brown {
  color: #a99044;
}


.text-white {
  color: #fff;
}

.btn-regis {
  color: #fff;
  background-color: #49764c;
}


.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-final1{
  filter: brightness(80%);
}

.text-final1{
  color: #FFF;
  font-size: 2.6rem;
  font-weight: 900;
  position: relative;
  top: 50%;
  z-index: 1;
}

.text-final1-m{
  color: #FFF;
  font-size: 2.6rem;
  position: relative;
  top: -50%;
  z-index: 0;
}

div.section-pc{
  display: block !important;
}
div.section-mobile{
  display: none !important;
}

div.show-pc, section.show-pc{
  display: block;
}
div.show-ipad, section.show-ipad{
  display: none;
}

@media screen and (min-width: 991.99px) and (max-width: 1399.99px){
  div.show-pc, section.show-pc{
    display: none;
  }
  div.show-ipad, section.show-ipad{
    display: block;
  }
}

@media only screen and (min-width: 575.98px) {
  #bg-section{
    background-color: #181a12;
    background-size: cover;
    background-position: center;
    height: 45rem;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1100.98px) {
  #bg-section{
    background-color: #181a12;
    background-size: cover;
    background-position: center;
    height: 55rem;
    overflow: hidden;
  }
}

@media only screen and (min-width: 992.12px) {
  .logo {
    width: 200px;
    position: absolute;
    top: 0%;
    left: 45%;
  }
  .banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
  }

  .banner-text h1{
    font-size: 93px;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
  }

  .banner-text p{
    font-size: 45px;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
  }

  .banner-text span{
    font-size: 28px;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
  }


}

@media only screen and (max-width: 991px) {

  #bg-section{
    background-color: #181a12;
    background-size: cover;
    background-position: center;
    height: 210vw;
    overflow: hidden;
  }

  div.section-pc{
    display: none !important;
  }
  div.section-mobile{
    display: block !important;
  }

  .logo {
    width: 35vw;
    top: 0%;
  }

  .banner-text{
    text-align: center;
    color: #fff;
    padding-top: 50px;
  }

  .banner-text h1{
    font-size: 7vw;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
  }

  .banner-text p{
    font-size: 7vw;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
  }

  .banner-text span{
    font-size: 6vw;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
  }

  .title-text p{
    margin: auto;
    font-size: 3vw;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
  }

  .title-text h1{
    font-size: 5vw;
    color: #FFF;
  }

  .ab1{
    width: 50%;
    text-align: center;
    height: auto;
    overflow: hidden;
  }

  .ab1 img{
    width: 100%;
  }

  img.img-m-filter{
    filter: brightness(70%)
  }

  h3.text-m-h{
    font-size: 4vw;
  }

  p.text-m-p{
    font-size: 3vw;

  }
}

@media screen and (min-width: 991.99px) and (max-width: 1399.99px){
  .logo {
    width: 20vw;
    top: 0%;
    left: 42%;
  }
}
