<section id="bg-section">

  <div class="section-pc">
    <div class="social-media">
      <a href="https://www.facebook.com/yingyaiflower" target="_blank"><img src="./assets/icon/f.png" alt=""></a>
      <a href="tel:094-552-8532" target="_blank"><img src="./assets/icon/callwhite.png" alt=""></a>
      <a href="https://instagram.com/yingyaiflower?igshid=YzA2ZDJiZGQ=" target="_blank"><img src="./assets/icon/ig.png"
          alt=""></a>
      <a href="https://lin.ee/RfKmZEH" target="_blank"><img src="./assets/icon/linewhite.png" alt=""></a>
    </div>
  </div>

  <a href="#">
    <img class="logo" src="../../assets/LOGO/โลโก้พี่หญิงสีขาว 231x160 2.png" alt="">
  </a>

  <div class="banner-text">
    <h1 class="fw-bold">Balloon</h1>
    <p class="fw-bold">ลูกโป่ง</p>
  </div>

  <div class="section-mobile">
    <div class="container">
      <div class="row justify-content-center mb-3 ">
        <div class="col-6 d-flex justify-content-center">
          <div style="max-width: 18rem;">
            <div>
              <img src="../../assets/balloon/balloon-title-1.png" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" />
            </div>
          </div>
        </div>

        <div class="col-6 d-flex justify-content-center">
          <div style="max-width: 18rem;">
            <div>
              <img src="../../assets/balloon/balloon-title-2.png" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" />
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-5 ">
        <div class="col-6 d-flex justify-content-center">
          <div style="max-width: 18rem;">
            <div>
              <img src="../../assets/balloon/balloon-title-3.png" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" />
            </div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
          <div style="max-width: 18rem;">
            <div>
              <img src="../../assets/balloon/balloon-title-4.png" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-pc">
    <div class="container">
      <div class="row justify-content-center mb-5 ">
        <div class="col-3">
          <div style="max-width: 18rem;">
            <div>
              <img src="../../assets/balloon/balloon-title-1.png" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" />
            </div>
          </div>
        </div>

        <div class="col-3">
          <div style="max-width: 18rem;">
            <div>
              <img src="../../assets/balloon/balloon-title-2.png" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" />
            </div>
          </div>
        </div>

        <div class="col-3">
          <div style="max-width: 18rem;">
            <div>
              <img src="../../assets/balloon/balloon-title-3.png" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" />
            </div>
          </div>
        </div>

        <div class="col-3">
          <div style="max-width: 18rem;">
            <div>
              <img src="../../assets/balloon/balloon-title-4.png" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-mobile">
  <section class="bg-section-product mb-5">
    <div class="container mt-5">
      <h2 class="fw-bold">ลูกโป่ง</h2>
      <div class="row mt-5">
        <div class="col-6 align-self-end">
          <img src="../../assets/balloon/balloon-show1-m.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open(0)" />
        </div>
        <div class="col-6 align-self-end">
          <img src="../../assets/balloon/balloon-show-sub1.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open(1)" />
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-12 mt-4">
          <p class="text-center text-title-gallery fw-bold fs-6">
            ลูกโป่ง คู่กับดอกไม้ประดิษฐ์ หรือกระเช้าของขวัญ<br>
            เพื่อแสดงความยินดี หรือโอกาสสำคัญต่างๆ
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 ">
          <img src="../../assets/balloon/balloon-show-sub2.png" class="w-100 shadow-1-strong" alt="Boat on Calm Water"
            (click)="open(2)" />
        </div>
        <div class="col-6">
          <img src="../../assets/balloon/balloon-show-sub3-m.png" class="w-100 shadow-1-strong img-final1"
            alt="Boat on Calm Water" (click)="open(3)" />
            <p class="text-center text-final1-m">
              + {{data.length}}
            </p>
        </div>
      </div>
    </div>
    <!-- <div *ngFor="let image of data; let i=index">
    <img [src]="image.thumb" (click)="open(i)" />
  </div> -->
  </section>
</div>

<div class="section-pc">
  <section class="bg-section-product mb-5">
    <div class="container mt-5">
      <h2 class="fw-bold">ลูกโป่ง</h2>
      <div class="row">
        <div class="col-9 align-self-end">
          <div class="row ">
            <div class="col-4 align-self-end show-pc">
              <img src="../../assets/balloon/balloon-show1.png" width="300" height="540" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" (click)="open(0)" />
            </div>
            <div class="col-4 align-self-end show-pc">
              <img src="../../assets/balloon/balloon-show-sub1.png" height="475" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" (click)="open(1)" />
            </div>
            <div class="col-4 align-self-end show-pc">
              <img src="../../assets/balloon/balloon-show-sub2.png" height="475" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" (click)="open(2)" />
            </div>
            <div class="col-4 align-self-end show-ipad">
              <img src="../../assets/balloon/balloon-show1-m.png" height="400" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" (click)="open(0)" />
            </div>
            <div class="col-4 align-self-end show-ipad">
              <img src="../../assets/balloon/balloon-show-sub1.png" height="400" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" (click)="open(1)" />
            </div>
            <div class="col-4 align-self-end show-ipad">
              <img src="../../assets/balloon/balloon-show-sub2.png" height="400" class="w-100 shadow-1-strong"
                alt="Boat on Calm Water" (click)="open(2)" />
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <p class="text-center text-final1">
                + {{data.length}}
              </p>
              <img src="../../assets/balloon/balloon-show-sub3.png" class="w-100 shadow-1-strong img-final1"
                alt="Boat on Calm Water" (click)="open(3)" />
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-12 mt-5">
              <p class="text-end text-title-gallery fw-bold fs-6">
                ลูกโป่ง คู่กับดอกไม้ประดิษฐ์ หรือกระเช้าของขวัญ<br>
                เพื่อแสดงความยินดี หรือโอกาสสำคัญต่างๆ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div *ngFor="let image of data; let i=index">
    <img [src]="image.thumb" (click)="open(i)" />
  </div> -->
  </section>
</div>
